.main {
  padding: 50px 0;

  &.empty {
    background: url('../img/logo-gwo.png') no-repeat center center;
    background-size: 350px;
    height: calc(100vh - 60px);

    @media (max-width: 540px) {
      background-size: 250px;
    }
  }
}
