// Main colors
$main-color: #fafafa;
$background-opacity: rgba(255, 255, 255, .97);

$logo-first: #f97a00;
$logo-second: #eb0000;
$logo-third: #c00003;

$font-color: #e7e7e7;
$font-hover: #ffffff;

$shadow: rgba(0, 0, 0, .25);
$placeholder: #dddddd;
